<!--<div>Version : {{version}}-->
    <!--&lt;!&ndash;<input class="haha-{{hasResult}}" type="button" value="get next item" ng-click="showNextItem()">&ndash;&gt;-->
    <!--<div class="next buttonHover show_{{hasResult}}" ng-click="showNextItem()">Start</div>-->
<!--</div>-->
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="">
        <h1>VIA24测试</h1>
        <br>
        <p>
            <div class="btn btn-lg btn-primary" style="width: 100%" ng-click="showNextItem()" role="button">开始 »</div>
        </p>
    </div>

</div>