<my-datepicker type="text"/>
<div ng-controller="FillinController">
    <div class="questionContainer radius">
        <div class="question">
            <span ng-repeat="subContent in fillinContent">
                <span ng-show="$index%2==0">{{subContent.value}}</span>
                <span ng-hide="$index%2==0">
                     <!--ng-change="changeResult();"-->
                    <my-datepicker type="text"
                       ng-model="result[subContent.value]"></my-datepicker>
                </span>

            </span>
        </div>
        <div class="divider"></div>

    </div>

</div>
<!-