<div ng-controller="FillinController">
    <div class="questionContainer radius">
        <div class="question">
            <span ng-repeat="subContent in fillinContent">
                <span ng-show="$index%2==0">{{subContent.value}}</span>
                <input ng-hide="$index%2==0"  ng-change="changeResult();"
                       ng-model="result[subContent.value]"
                       ng-focus-lost="onFocusOut()" ng-focus/>

            </span>
        </div>
        <div class="divider"></div>

        <div tian-virture-key />
    </div>

</div>