<my-datepicker type="text"/>
<div ng-controller="FillinController">
    <div class="questionContainer radius">
        <div class="question">
            <span ng-repeat="subContent in fillinContent">
                <span ng-show="$index%2==0">{{subContent.value}}</span>
                <span ng-hide="$index%2==0">
                     <input my-key ng-model="result[subContent.value]" ng-change="changeResult()"/>
                </span>

            </span>
        </div>
        <div class="divider"></div>

    </div>

</div>
<!-