<div id="keyboard">
    <div id="row1">
        <input name="a" type="button" value="a" />
        <input name="b" type="button" value="b" />
        <input name="c" type="button" value="c" />
        <input name="d" type="button" value="d" />
        <input name="e" type="button" value="e" />
        <input name="f" type="button" value="f" />
        <input name="g" type="button" value="g" />
        <input name="h" type="button" value="h" />
        <input name="i" type="button" value="i" />
        <input name="j" type="button" value="j" />
        <input name="k" type="button" value="k" />
        <input name="l" type="button" value="l" />
        <input name="m" type="button" value="m" />
    </div>

    <div id="row1_shift">
        <input name="A" type="button" value="A" />
        <input name="B" type="button" value="B" />
        <input name="C" type="button" value="C" />
        <input name="D" type="button" value="D" />
        <input name="E" type="button" value="E" />
        <input name="F" type="button" value="F" />
        <input name="G" type="button" value="G" />
        <input name="H" type="button" value="H" />
        <input name="I" type="button" value="I" />
        <input name="J" type="button" value="J" />
        <input name="K" type="button" value="K" />
        <input name="L" type="button" value="L" />
        <input name="M" type="button" value="M" />
    </div>


    <div id="row2_shift">
        <input name="N" type="button" value="N" />
        <input name="O" type="button" value="O" />
        <input name="P" type="button" value="P" />
        <input name="Q" type="button" value="Q" />
        <input name="R" type="button" value="R" />
        <input name="S" type="button" value="S" />
        <input name="T" type="button" value="T" />
        <input name="U" type="button" value="U" />
        <input name="V" type="button" value="V" />
        <input name="W" type="button" value="W" />
        <input name="X" type="button" value="X" />
        <input name="Y" type="button" value="Y" />
        <input name="Z" type="button" value="Z" />
    </div>

    <div id="row2">
        <input name="n" type="button" value="n" />
        <input name="o" type="button" value="o" />
        <input name="p" type="button" value="p" />
        <input name="q" type="button" value="q" />
        <input name="r" type="button" value="r" />
        <input name="s" type="button" value="s" />
        <input name="t" type="button" value="t" />
        <input name="u" type="button" value="u" />
        <input name="v" type="button" value="v" />
        <input name="w" type="button" value="w" />
        <input name="x" type="button" value="x" />
        <input name="y" type="button" value="y" />
        <input name="z" type="button" value="z" />
    </div>

    <div id="row3">
        <input name="Shift" type="button" value="Shift" id="shifton" />
        <input name="spacebar" type="button" value=" " />
    </div>

    <div id="row3_shift">
        <input name="Shift" type="button" value="Shift" id="shifton" />
        <input name="spacebar" type="button" value=" " />

    </div>



</div>